# Python
__pycache__/
*.pyc
.venv/
env/
.env



# dbt artifacts
medical_warehouse/dbt_packages/
medical_warehouse/logs/
medical_warehouse/target/

# IDE & OS
.vscode/
.DS_Store



*.session
*.session-journal
.env
__pycache__/